# Python 3
__pycache__
.noseids
.hypothesis

# Visual Studio Code
.vscode

# DS
.DS_Store

# Virtual environment
env

# GUI C/C++ cache
src

# pytest
.pytest_cache

# build and dist
build
dist
PKPD.egg-info

# PINTS
pints

# profiling outputs
tests/inference/profile_find_optimal_parameters

